@keyframes run {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1720px;
  }
}
@keyframes die {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1727px;
  }
}
@keyframes meteorite {
  0% {
    transform: translateX(89vw);
  }
  100% {
    transform: translateX(-1vw);
  }
}
@keyframes clock {
  0% {
    transform: translateX(90vw) translateY(-20vh);
  }
  20% {
    transform: translateX(80vw) translateY(-10vh);
  }
  40% {
    transform: translateX(60vw) translateY(-20vh);
  }
  60% {
    transform: translateX(40vw) translateY(-10vh);
  }
  80% {
    transform: translateX(20vw) translateY(-20vh);
  }
  100% {
    transform: translateX(-1vw) translateY(-10vh);
  }
}
@keyframes floor {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -1920px;
  }
}
@keyframes sky {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -1920px;
  }
}

@keyframes jump {
  0% {
    background-position: 0px;
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30vh);
  }
  100% {
    background-position: -2593px;
    transform: translateY(0);
  }
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  height: 100vh;
  width: 100vw;
  /* max-height: 100vh;
  max-width: 100vw; */
}
.display-none {
  display: none !important;
}
.guide-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  padding: 2rem;
  position: fixed;
  top: 10%;
  left: 23%;
  width: 50%;
  border-radius: 25%;
  /* background: url(img/menu-background.webp); */
  background-size: cover;
  align-items: center;
}
.information-container {
  padding: 2em;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.guide-information-container {
  width: 100%;
  height: 85%;
  background-color: rgb(138, 233, 50);
  padding: 2rem;
  border-radius: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.close-button {
  font-size: x-large;
  position: fixed;
  top: 15%;
  left: 70%;
  cursor: pointer;
}
.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.menu-container {
  border-radius: 25%;
  width: 20%;
  height: 45%;
  border: solid 1px black;
  position: fixed;
  top: 30%;
  left: 40%;
  background: url(img/menu-background.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-btn {
  background-color: rgba(127, 255, 212, 0.5);
  padding: 1em;
  border: solid;
  margin: 1em;
  cursor: pointer;
}
.menu-btn:hover {
  transition: background-color 1s rgba(127, 255, 212, 1) ease-in-out;
}
.sky {
  background: url(img/background-dino/sky.png);
  animation: sky 45s infinite linear;
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.points-container {
  background-color: black;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
}
.time-container {
  background-color: aqua;
  height: 100%;

  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
}
.star {
  background: url("img/star.png");
  width: 50px;
  height: 50px;
  top: -20%;
  background-size: contain;
  position: relative;
  animation: meteorite 2s linear;
}
.clock {
  background: url("img/cronometer.png");
  position: relative;
  width: 50px;
  height: 70px;
  animation: clock 4s linear;
}
.floor-1 {
  background: url(img/background-dino/floor-1.png);
  animation: floor 10s infinite linear;
  background-repeat: no-repeat repeat-x;
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.crash {
  background: url(img/crash.jpg);
  width: 8rem;
  height: 8rem;
}
.dino {
  /* border: solid 1px black; */
  height: 150px;
  width: 150px;
  margin: auto;
  background: url("img/run-8.png");
  background-size: cover;
  animation: run 0.7s steps(8) infinite;
  position: fixed;
  top: 70%;
  left: 30%;
}
.dino-jump {
  background: url("img/jump-12.png");
  animation: jump 1.2s steps(12);
}
.dino-die {
  background: url("img/death-8.png");
  animation: die 3s steps(8);
  width: 220px;
}
.meteorite {
  background: url("img/meteorite.png");
  background-size: cover;
  position: absolute;
  height: 3rem;
  width: 3rem;
  animation: meteorite 3s linear;
}
